<ion-header>
    <ion-toolbar>
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showcancelbutton="" (ionInput)="filterList($event"></ion-searchbar>
    <ion-list lines="none">
        <ion-item *ngFor="let item of userList">
            <ion-label class="ion-text-wrap">
                <ion-text color="success">
                    <h3>{{ item.username }}</h3>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>